body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 25%;
}

h1 {
    text-align: center;
    color: #235789;
    margin-bottom: 20px;
}

.description {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
    font-size: 15px;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.languages-box {
    height: 200px;
}

.instruction {
    font-size: 12px;
}

.left-aligned {
    text-align: left;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #235789;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c4569;
}

a {
    color: #235789;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
    color: #1c4569;
}

p {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}

#logoutBtn {
    color: black;
    background-color: white;
    width: 25%;
    display: block;
    margin: 20px auto; /* esto lo centra horizontalmente */
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

